<section class="card">
  <a href="/game/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}">
      <p>Description: {{description}}</p>
    </div>
  </a>
</section>