<section class="card">
  <a href="/game-page/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="{{games.image_url}}">
      <p>Description: {{description}}</p>
    </div>
  </a>
</section>