<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Board Game Cabinet</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Welcome to My Boardgame Cabinet</h1>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
      <a href="/api/profile">profile</a>
      <button class="no-button" id="logout">logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  </header>
  <main>
    {{{body}}}
  </main>

  <script
  type="text/javascript"
  src="../node_modules/tw-elements/dist/js/tw-elements.umd.min.js"></script>
  {{#if loggedIn}}
  <script type="text/javascript" src="/js/logout.js"></script>
  <script type="text/javascript" src="/js/reviews.js"></script>
  <script type="text/javascript" src="/js/game-card.js"></script>
  {{/if}}
  </body>

  </html>