<section class="card">
    <h3><a href="/user/{{id}}">{{user}}'s</a> review of {{game}}</h3>

    <div class="card-body">
      <p>{{review}}</p>
     </div>
</section>

<section>
    <form>
        <label>Leave a Reply:</label>
        <input class="form-input"type="text">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
        Submit
        </button>
    </form>
</section>