<section>
    <div class="flex-item" id="search-from">
            <div class="game-container">
              <div class="search-container">
                <input type="text" id="searchInput" class="search-bar" placeholder="Search board games...">
                <button type="submit" class="search-button">Search</button>
                </div>
            </div>
        </div>
</section>

<section class="flex-row justify-center">
    <h2>Top 5 Games</h2>
    {{#each games as |game|}}
        {{> topgamescard}}
    {{/each}}
</section>

<script src="./js/search-results.js"></script>