@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue: #5F939A;
    --green: #3A6351;
    --brown: #A0937D;
    --tan: #F2EDD7;
    --black: black;
    --white: white;
}

header {
  background-image: url('https://i.pinimg.com/564x/e3/f0/5d/e3f05d1310ffce357cf94f3d28c5927d.jpg');
  background-color: black; 
  color: white;
  padding: 15px 0;
  text-align: center;
  margin: 5px;
}

nav {
  position: absolute;
  right: 20px;
  top: 15px;
}

nav a, .btn-no-style {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

nav a:hover, .btn-no-style:hover {
  text-decoration: underline;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  height: 90vh;
}

.flex-item {
  flex: 1;
  margin: 10px;
  padding: 20px;
}

.game-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.game-box {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 20px 10px;
  width: 50%;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.game-box:hover {
  transform: translateY(-5px);
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  width: 480px;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: 2px solid #007bff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
}

.search-button:hover {
  background-color: #0056b3;
}




.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.login-containers {
  display: flex;
  justify-content: space-evenly;
}

.login-form {
  width: 450px;
  padding: 50px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: #ffffff;
  transition: transform 0.3s ease;
}

.signup-form {
  width: 450px;
  padding: 50px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: #ffffff;
  transition: transform 0.3s ease;
}

.login-form:hover {
  transform: translateY(-10px);
}

.form-control {
  margin-bottom: 20px;
  width: calc(100% - 30px);
  padding: 18px; 
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 1.2em;
  transition: border-color 0.3s ease; 
}

.form-control:focus {
  border-color: var(--blue);
}

.login-button {
  width: 93%;
  padding: 18px;
  border-radius: 15px;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  font-size: 1.2em; 
  transition: background-color 0.3s ease; 
}

.login-button:hover {
  background-color: #add8e6;
}

body {
  background-color: #f4f4f4;
  background-image: url('path-to-your-background-pattern-or-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}